.container {
  width: calc(100vw - 18px);
  height: 120px;
  background-color: #313f7f;
  position: absolute;
  bottom: 0%;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.iconContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* padding: 10px; */
}
.links {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
