
.containerr{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(200px);
}
.textContainer {
  margin-left: 30px;
}
.notfoundSvg {
  width: 300px;
  height: 300px;
}
@media (min-width: 1000px){
  .notfoundSvg {
    width: 500px;
    height: 500px;
  }
}
