.image {
  height: 200px;
  width: 100%;
}
.cont {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.detailsCont {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.price {
  color: darkgreen;
}
.mainContainer {
  min-height: 100vh;
}
